html, body {
	height: 100%;
	line-height: 2em;
}

section {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.h-push,
footer {
	height: 4em;
	line-height: 4em;
}

footer {
	text-align: center;
	background-color: gray;
	overflow: hidden;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

a,
a:hover,
a:active,
a:focus {
	outline: 0;
}

.b-controls {
	display: none;
	opacity: 0.25;
	position: absolute;
	top: 0;
	right: 0.5em;
	font-size: 200%;
	z-index: 10;
}

.b-controls a {
	color: black;
}

*:hover > .b-controls {
	display: block;
}

.b-group,
.b-row,
.b-square {
	position: relative;
}

.b-group:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}

.b-group.active {
	background-color: rgba(40, 130, 240, 0.1);
}

.b-row {
	padding-right: 12em;
}

.b-row:after {
	content: " ";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.b-row-add {
	width: 6em;
	height: 6em;
	margin: 1em;
	opacity: 0.25;
	border: 2px dashed gray;
	position: absolute;
	right: 2em;
	bottom: 0;
	display: none;
	text-align: center;
}

.b-row:hover .b-row-add {
	display: block;
}

.b-row-add a {
	color: black;
	height: 100%;
	width: 100%;
	font-size: 200%;
	display: inline-block;
}

.b-square {
	float: left;
	width: 6em;
	height: 6em;
	margin: 1em;
	background-color: orange;
}

.b-square.cursor {
	background-color: blue;
}

.b-square .b-controls {
	font-size: 150%;
}

.b-square.cursor .b-controls {
	opacity: 0.5;
}

.b-square.cursor .b-controls a {
	color: white;
}

footer a {
	font-size: 400%;
}
