<div class="b-group pure-g-r">
	<div class="b-controls">
		<a href="javascript:void(0)" data-action="group:del">&times;</a>
		<br>
		<a href="javascript:void(0)" data-action="row:add">+</a>
	</div>

	{{>row}}
</div>
